/*-- scss:rules --*/
// Various tweaks
p pre code:not(.sourceCode),
li pre code:not(.sourceCode),
pre code:not(.sourceCode) {
  background-color: var(--brand-bg-2);
}
.navbar {
  border-bottom: solid 1px var(--brand-fg-2)
}
.blockquote {
  border-left: solid var(--brand-yellow);
  color: var(--brand-comment);
}
.cell-output {
  color: var(--brand-comment);
  background: var(--brand-grey-bg);
}
div.category {
  font-size: 0.8rem;
}

// Listing in "Blog" page
.blog-listing-item {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: solid 2px var(--brand-grey);
}
.blog-listing-item-title {
  color: var(--brand-blue);
  text-decoration: none;
  font-size: 130%;
}
.blog-listing-item-description {
  text-decoration: none;
  color: var(--brand-fg);
}
.blog-listing-item-metadata {
  color: var(--brand-comment);
  text-decoration: none;
}
.blog-listing-item-category {
  color: var(--brand-comment);
  text-decoration: none;
  padding: .25em .75em;
  font-size: .65em;
  text-transform: uppercase;
  border: solid 1px;
  border-radius: .25rem;
}

// Bluesky-comments
:root {
  --bc-text-color: var(--brand-grey);
  --bc-muted-fg: var(--brand-comment);
  --bc-thread-line: var(--brand-comment);
  --bc-thread-line-width: 1px;
}
.bc-header { font-size: 1.25rem }
